[user]
	name = Johan Le Bray
	email = j.lebray@gmail.com
[alias]
  co = checkout
  br = branch
  st = status
  df = diff -w
  dc = diff -w --cached
  log = log -w
  loc = log -w -p
  un = reset HEAD
  tags = tag -l
[fetch]
  prune = true
[push]
  default = simple
[core]
	editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = /home/johan/.gitignore_global
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	commit = green
	meta = yellow
	frag = cyan
	old = red
	new = green
	whitespace = red reverse
[color "status"]
  header = white
  added = green
  changed = cyan bold
  untracked = magenta bold
  branch = green bold
  nobranch = red blink
[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
[mergetool "vimdiff"]
	path = nvim
[diff]
	algorithm = patience
[commit]
	gpgsign = false
[gpg]
	program = /usr/local/bin/gpg
[init]
	templatedir = ~/.git_template
